@import url("./assets/fonts/font.css");

body {
  font-family: "Vazir FD";
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #2A374A;
}
.card__todo {
  background: #ebf3fa;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 15px;
  width: 700px;
  height: 700px;
  overflow-y: auto;
}
.card__todo h1 {
  font-size: 30px;
  color: #092B99;
  text-align: center;
  margin-top: 25px;
}
